.env
hack_env/*
frontend/

.venv
**/node_modules/
**/.next/
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.env.development
**/.env.test
**/.env.production
**/__pycache__/
**/*.mp4
**/*.mov
.DS_Store